@import url('https://fonts.googleapis.com/css2? family= Poppins:ital,wght@1,800 & display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*define que a altura e largura de um elemento deve levar em consideração também a sua borda e preenchimento.*/
    text-decoration: none;
    list-style: none;
    font-family: "poppins", sans-serif;
}

body {
    overflow: auto; /*Para evitar que o overflow seja renderizado fora da caixa do elemento,definir a propriedade como oculta. "auto" barra de rolagem*/
}

.background {
    background-image: url(img/img-fundo-foto.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 60vh; /*utilizam o tamanho total da viewport (tamanho do nosso dispositivo), ou seja, uma altura de 100vh corresponde a 100% da página total*/
}

header {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    padding-top: 1rem; /* 1rem é igual ao tamanho padrão da fonte da raiz(root) do documento, normalmente 16px*/
}

.cabeçalho-link {
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer; /* link da seta vira uma mãozinha*/
}

.cabeçalho-link a {
    color: white;
    font-size: 18px;
}

.cabeçalho-link a:hover {
    color: rgb(126, 6, 126);
    background-color: white;
}

.logo i {
    width: 60px;
    height: 60px;
    background: transparent;
    border: 1px solid rgb(238, 107, 238);
    border-radius: 50px;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
}

.logo i:hover {
    color: rgb(238, 107, 238);
    transition: 1s all;
    /*tempo para transição*/
}

button {
    color: white;
    background-color: transparent;
    border: solid 1px rgb(238, 107, 238);
    padding: 5px 5px 5px 5px;
    border-radius: 15px;
    font-size: 16px;
    width: 150px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(238, 107, 238);
    color: white;
    transition: 1s all;
}

#container-text {
    padding: 40px 0 0 80px; /*margem imagem de fundo*/
}

.text h3 {
    color: white;
    font-size: 18px;
}

.text h1, p{
    color: white;
    margin-top: 10px;
}

.text span {
    color: rgb(126, 6, 126);
}

.text p {
    color: white;
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
}

.redes-sociais a {
    color: rgb(126, 6, 126);
    padding: 10px;
    margin-top: 20px;
}

.btn {
    margin-top: 25px;
    font-size: 15px;
    color:white;
}

.background-color-sobre{
    background-image: url(img/img-fundo.jpg); /*fundo da 2 foto*/
    width: 400%;
    padding: 50px 5px;
}
.background-color-sobre img{
    width: 430px;
    height: auto;
}
.texto-sobre{
    width: 550px;
}
#sobre{
    background-image: url(img/fundo1.jpg);
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 1130px; /*ajuste margem*/
    padding-left: 20px;
}
.texto-sobre h2{
    font-size: 50px;
    font-family:"poppins", sans-serif;
    margin: 20px;
    margin-bottom: 20px;
    text-transform: capitalize; /*causa o efeito de capitalizar maiusculas e minusculas do texto*/
}
.texto-sobre h5{
    background-image: url(img/fundo1.jpg);
    letter-spacing: 2px; /*espaçamento entre letras, entre caracteres*/
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.texto-sobre p{
    letter-spacing: 1px;
    line-height: 28px; /*espaçamento de linha, uma da outra*/
    font-size: 18px;
    margin-bottom: 45px;
    margin:0 auto;
} 

.card, .titulo{
    background-image: url(img/fundo.jpg); /*fundo da caixa das 4 imagens do projeto*/
}

.icone{
    width: 150px;
    height: 150px; 
    padding-top: 10px;
}
#container-projetos{
    background-image: url(img/fundo3.jpg);
    width: 100%;
    padding: 100px, 0px;
}

.titulo, h2{
color:white;
font-size: 55px;
margin: 0px auto;
text-align: center;
}

.caixa{
    background-image: url(img/fundo3.jpg); /*cor fundo lado fora das caixas*/
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 400px;
    flex-wrap: wrap;
}
.card{
    background-image: url(img/fundo1.jpg);/*cor de fundo das laterais das 4 caixas do projeto*/
    height: 365px;
    width: 335px;
    border:20px;
    border-radius: 20px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
}   
.card h5{
    color: white;
    font-size: 20px;
    margin-bottom: 15px;
}
.card p{
    color:white;
    font-size: 15px;
    line-height: 27px;
    margin-bottom: 25px;
}

.Contato{
    width: 100%;
    height: 500px;
    background-image: url(img/fundo3.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.Contato p{
    color:white;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 25px;
}

footer{
    background-color: rgb(206, 147, 167);
    font-size: 26px;
    color: white;
    position: relative;
    width: 100%;
    height: 230px;
}

h6,h1{
    font-size: 30px;
    color:rgb(126, 6, 126);
    text-align: center;
}
footer p{
    font-size: 20px;
    text-align: center;
    margin: 10px;
    margin-top: 10px;
    line-height: 20px;
}
.imgrodape{
    display: flex;
    justify-content:center;
}

form{
    width: 40px;
    min-width: 350px;
    background-image: url(img/fundo1.jpg);
    border-radius: 10px;
}
 
input,textarea{
    min-width: 320px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid #c1c1c1;
    margin-top: 20px;
    height: 40px;
    padding-left: 10px;

}
textarea{
    height: 80px;
    padding-top: 10px;
}

button{
    display: block; /*centralizar o botão, com margem auto, sempre usar display block*/
    margin: 20px auto;
    
}


